/**
 * CSS Table of Contents
 * ---------------------------------------------------------
 *
 * 01. Base
 * 02. Panel
 * 03. Toggler
 *
 */
/**
 * Base - General css
 */
.is-screen-disabled {
  display: none !important; }

.mboxy-mt0 {
  margin-top: 0 !important; }

.mboxy-mb0 {
  margin-bottom: 0 !important; }

.mboxy-ml0 {
  margin-left: 0 !important; }

.mboxy-mr0 {
  margin-right: 0 !important; }

@-webkit-keyframes faderIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes faderIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes pushUp {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes pushDown {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes pushLeft {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes pushLeft {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes pushRight {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes pushRight {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

/**
 * Panels
 */
.mboxy-wrap > .mboxy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mboxy-wrap > .mboxy.dir-row-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .mboxy-wrap > .mboxy.dir-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .mboxy-wrap > .mboxy.dir-column-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .mboxy-wrap > .mboxy.align-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .mboxy-wrap > .mboxy.align-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .mboxy-wrap > .mboxy.align-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .mboxy-wrap > .mboxy > .mboxy-content {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    max-width: 100%; }

.mboxy-wrap .additional-label {
  position: absolute;
  color: #ffffff;
  background: #333333;
  padding: 4px 14px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  text-align: center;
  border-radius: 5px; }

.mboxy-wrap:not([class*="bottomed"]) .additional-label {
  top: 100%;
  left: inherit;
  right: inherit; }

.mboxy-wrap[class*="bottomed"] .additional-label {
  bottom: 100%;
  left: inherit;
  right: inherit; }

.mboxy-wrap.on.hide-default-closer > .mboxy > .trig-default {
  display: none; }

.mboxy-wrap:not(.on) .additional-label {
  display: none; }

/**
  * Floatany.
  */
.floatany {
  position: absolute;
  z-index: 999999; }
  .floatany > .mboxy {
    position: fixed;
    z-index: 1;
    max-width: 100%; }
    .floatany > .mboxy > .mboxy-content {
      height: inherit;
      overflow: auto; }
  .floatany.on[class*="topped"] .mboxy {
    top: 0;
    bottom: auto; }
  .floatany.on[class*="centered"] .mboxy {
    top: auto;
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
  .floatany.on[class*="bottomed"] .mboxy {
    bottom: 0;
    top: auto; }
  .floatany.on[class*="place-left"] .mboxy {
    left: 0;
    right: auto; }
  .floatany.on[class*="place-right"] .mboxy {
    right: 0;
    left: auto; }
  .floatany.on[class*="place-center"] .mboxy {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .floatany.on.place-center-centered .mboxy {
    -webkit-transform: translateX(-50%) translateY(50%);
        -ms-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%); }
  .floatany.on.nospace .mboxy .mboxy-content {
    overflow: auto; }
  .floatany:not(.on) {
    /**
         * When panel is closing some elements (added by other plugins) inside of the panel (e.g. buttons) can collapse.
         * Later than the panel itself. This is coz they have transition set to those elements. This nulls that.
         * With :not we're making sure it's observed on the panel closing, since the .on gets removed before any other processing.
        */ }
    .floatany:not(.on) * {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
    .floatany:not(.on)[class*="place-right"] .igniteon {
      right: 0;
      left: auto; }
    .floatany:not(.on):not(.type-toggler) {
      visibility: hidden; }
    .floatany:not(.on).type-toggler > .mboxy > .trig-default.igniteon {
      position: fixed; }
    .floatany:not(.on)[class*="topped"] > .mboxy > .igniteon {
      top: 0;
      bottom: auto; }
    .floatany:not(.on)[class*="centered"] > .mboxy > .igniteon {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .floatany:not(.on).place-center-centered:not(.style-slide-horizontal) > .mboxy > .igniteon {
      bottom: 0;
      top: auto; }
    .floatany:not(.on).place-center-centered.style-slide-horizontal > .mboxy > .igniteon {
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .floatany:not(.on)[class*="bottomed"] > .mboxy > .igniteon {
      bottom: 0;
      top: auto; }
    .floatany:not(.on)[class*="place-left"] > .mboxy > .igniteon {
      left: 0;
      right: auto; }
    .floatany:not(.on)[class*="place-center"] > .mboxy > .igniteon {
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      right: auto; }

/**
  * Injectany.
  */
.injectany {
  position: relative;
  z-index: 2;
  margin-bottom: 2em; }
  .injectany .mboxy {
    position: relative; }
  .injectany:not(.on):not([class*="style-slide-"]):not(.type-toggler) {
    visibility: hidden; }
    .injectany:not(.on):not([class*="style-slide-"]):not(.type-toggler) > .mboxy {
      display: none !important; }
  .injectany:not(.on).type-toggler > .mboxy > .mboxy-content {
    display: none !important; }
  .injectany:not(.on).type-toggler > .mboxy > .igniteon {
    position: relative; }
  .injectany.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  .injectany.align-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .injectany.align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .injectany.align-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }

/**
 * Showing style (Popup, slidein, etc.)
 */
.style-fadein.on > .mboxy {
  -webkit-animation-name: faderIn;
          animation-name: faderIn;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms; }

.style-slide-horizontal[class*="place-left"] > .mboxy {
  right: auto;
  left: -100%;
  -webkit-transition: left 800ms ease;
  -o-transition: left 800ms ease;
  transition: left 800ms ease; }

.style-slide-horizontal[class*="place-center"] > .mboxy {
  right: auto;
  left: -100%;
  -webkit-transition: left 800ms ease;
  -o-transition: left 800ms ease;
  transition: left 800ms ease; }

.style-slide-horizontal[class*="place-right"] > .mboxy {
  left: auto;
  right: -100%;
  -webkit-transition: right 800ms ease;
  -o-transition: right 800ms ease;
  transition: right 800ms ease; }

.style-slide-horizontal[class*="topped"]:not(.on) > .mboxy {
  top: 0;
  bottom: auto; }

.style-slide-horizontal[class*="centered"]:not(.on) > .mboxy {
  top: auto;
  bottom: 0; }

.style-slide-horizontal[class*="bottomed"]:not(.on) > .mboxy {
  bottom: 0;
  top: auto; }

.style-slide-vertical[class*="topped"] > .mboxy {
  bottom: auto;
  -webkit-transition: top 800ms ease;
  -o-transition: top 800ms ease;
  transition: top 800ms ease; }

.style-slide-vertical[class*="centered"] > .mboxy {
  top: auto;
  -webkit-transition: bottom 800ms ease;
  -o-transition: bottom 800ms ease;
  transition: bottom 800ms ease; }

.style-slide-vertical[class*="bottomed"] .mboxy {
  top: auto;
  -webkit-transition: bottom 800ms ease;
  -o-transition: bottom 800ms ease;
  transition: bottom 800ms ease; }

.style-slide-vertical[class*="topped"]:not(.on) > .mboxy {
  top: -100%; }

.style-slide-vertical[class*="bottomed"]:not(.on) > .mboxy {
  bottom: -100%; }

.style-slide-vertical[class*="centered"]:not(.on) > .mboxy {
  bottom: -100%; }

.style-slide-vertical[class*="place-left"]:not(.on) > .mboxy {
  left: 0;
  right: auto; }

.style-slide-vertical[class*="place-right"]:not(.on) > .mboxy {
  right: 0;
  left: auto; }

.style-slide-vertical[class*="place-center"]:not(.on) > .mboxy {
  left: 50%;
  -webkit-transition: transformX 800ms ease;
  -o-transition: transformX 800ms ease;
  transition: transformX 800ms ease; }

.style-push-up.on .mboxy-content {
  -webkit-animation-name: pushUp;
          animation-name: pushUp;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.style-push-left.on .mboxy-content {
  -webkit-animation-name: pushLeft;
          animation-name: pushLeft;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.style-push-right.on .mboxy-content {
  -webkit-animation-name: pushRight;
          animation-name: pushRight;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.style-push-down.on .mboxy-content {
  -webkit-animation-name: pushDown;
          animation-name: pushDown;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

/**
   * Injectany - sliding.
   */
.injectany.style-slide-horizontal.type-closer > .mboxy {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  -o-transition: transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease; }

.injectany.style-slide-horizontal.type-closer:not(.on):not(.align-end) > .mboxy {
  margin-left: -100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed; }

.injectany.style-slide-horizontal.type-closer:not(.on).align-end > .mboxy {
  margin-right: -100%;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed; }

.injectany.style-slide-horizontal.type-toggler {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  -o-transition: transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease; }
  .injectany.style-slide-horizontal.type-toggler:not(.on) {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.injectany.style-slide-vertical.type-closer > .mboxy {
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  -o-transition: transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease; }

.injectany.style-slide-vertical.type-closer:not(.on) > .mboxy {
  bottom: -100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  position: fixed; }

.injectany.style-slide-vertical.type-toggler {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  -o-transition: transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease; }
  .injectany.style-slide-vertical.type-toggler:not(.on) {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }

.injectany[class*="style-align"] {
  -webkit-transform: scaleX(0.5);
      -ms-transform: scaleX(0.5);
          transform: scaleX(0.5); }
  .injectany[class*="style-align"].alignwide, .injectany[class*="style-align"].alignfull {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: -webkit-transform 800ms ease;
    transition: -webkit-transform 800ms ease;
    -o-transition: transform 800ms ease;
    transition: transform 800ms ease;
    transition: transform 800ms ease, -webkit-transform 800ms ease; }

.mboxy-content > .alignfull,
.mboxy-content > .alignwide {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch; }

/**
 * Panels' overlay.
 */
body.maxboxy-overlay-on {
  overflow: hidden; }

.mboxy-overlay {
  position: absolute; }
  .mboxy-overlay .overlay-inner {
    height: 100%;
    width: 100%;
    background: #232323;
    opacity: 0; }
  .mboxy-overlay.on {
    position: relative;
    z-index: -1; }
    .mboxy-overlay.on .overlay-inner {
      position: fixed;
      top: 0;
      left: 0;
      cursor: crosshair;
      opacity: .9;
      -webkit-transition: opacity .5s linear;
      -o-transition: opacity .5s linear;
      transition: opacity .5s linear; }

/**
 * Rotator.
 */
.role-rotator > .mboxy > .mboxy-content > *:not(.rotator-active) {
  display: none; }

.role-rotator > .mboxy > .mboxy-content > .mboxy-rotator-parentor .rotator-child:not(.rotator-active) {
  display: none; }

/**
 * Splitter.
 */
.is-split:not(.split-show) {
  display: none; }

.splitter-group, .pick-split-id {
  display: none; }

/**
 * Toggler
 */
.mboxy-wrap > .mboxy .trigger {
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .mboxy-wrap > .mboxy .trigger.has-icon-open.igniteon, .mboxy-wrap > .mboxy .trigger.has-icon-close:not(.igniteon) {
    color: #ffffff;
    background: #333333;
    height: 52px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mboxy-wrap > .mboxy .trigger:hover {
    opacity: .9; }
  .mboxy-wrap > .mboxy .trigger.has-svg-open.igniteon .trig-icon,
  .mboxy-wrap > .mboxy .trigger.has-img-open.igniteon .trig-icon,
  .mboxy-wrap > .mboxy .trigger.has-svg-close:not(.igniteon) .trig-icon,
  .mboxy-wrap > .mboxy .trigger.has-img-close:not(.igniteon) .trig-icon {
    display: none; }
  .mboxy-wrap > .mboxy .trigger .trig-icon {
    position: relative;
    top: auto;
    height: 1px;
    width: 20px;
    margin: auto; }
    .mboxy-wrap > .mboxy .trigger .trig-icon:not(.minus):before {
      content: "";
      height: 1px;
      width: 20px;
      -webkit-box-shadow: 0 -10px 0 0;
              box-shadow: 0 -10px 0 0;
      position: absolute;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mboxy-wrap > .mboxy .trigger .trig-icon:not(.minus):after {
      content: "";
      height: 1px;
      width: 20px;
      -webkit-box-shadow: 0 10px 0 0;
              box-shadow: 0 10px 0 0;
      position: absolute;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .mboxy-wrap > .mboxy .trigger .trig-icon[class*="iks"] {
      width: 22px; }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="iks"]:before {
        top: 1px;
        left: 8px;
        -webkit-transform: translateY(6px) rotate(-45deg);
            -ms-transform: translateY(6px) rotate(-45deg);
                transform: translateY(6px) rotate(-45deg); }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="iks"]:after {
        top: 1px;
        left: 8px;
        -webkit-transform: translateY(-8px) rotate(45deg);
            -ms-transform: translateY(-8px) rotate(45deg);
                transform: translateY(-8px) rotate(45deg); }
    .mboxy-wrap > .mboxy .trigger .trig-icon.iks-plus {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
      .mboxy-wrap > .mboxy .trigger .trig-icon.iks-plus:after {
        top: 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.minus {
      -webkit-box-shadow: 0 1px 0 0;
              box-shadow: 0 1px 0 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon[class*="ham"] {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-box-shadow: 0 1px 0 0;
              box-shadow: 0 1px 0 0; }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="ham"]:before {
        top: 1px;
        left: 0;
        -webkit-box-shadow: 0 -9px 0 0;
                box-shadow: 0 -9px 0 0; }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="ham"]:after {
        top: 0;
        left: 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f1 {
      width: 13px;
      -webkit-transform: translateX(-3px);
          -ms-transform: translateX(-3px);
              transform: translateX(-3px); }
      .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f1:before {
        width: 7px; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f2 {
      width: 13px;
      -webkit-transform: translateX(-3px);
          -ms-transform: translateX(-3px);
              transform: translateX(-3px); }
      .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f2:after {
        width: 7px; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f3:before {
      width: 10px; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f3:after {
      width: 10px;
      -webkit-box-shadow: 10px 10px 0 0;
              box-shadow: 10px 10px 0 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f4:before {
      width: 10px;
      left: auto;
      right: 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon.ham-f4:after {
      width: 10px;
      -webkit-box-shadow: 0 10px 0 0;
              box-shadow: 0 10px 0 0; }
    .mboxy-wrap > .mboxy .trigger .trig-icon[class*="point"] {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="point"]:before {
        top: 1px;
        left: 5px;
        -webkit-transform: translateY(0) rotate(-40deg);
            -ms-transform: translateY(0) rotate(-40deg);
                transform: translateY(0) rotate(-40deg); }
      .mboxy-wrap > .mboxy .trigger .trig-icon[class*="point"]:after {
        top: -1px;
        left: 5px;
        -webkit-transform: translateY(0) rotate(40deg);
            -ms-transform: translateY(0) rotate(40deg);
                transform: translateY(0) rotate(40deg); }
    .mboxy-wrap > .mboxy .trigger .trig-icon.point-up {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .mboxy-wrap > .mboxy .trigger .trig-icon.point-down {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .mboxy-wrap > .mboxy .trigger .trig-icon.point-right {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon[class*="iks"], .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon.minus {
    height: 4px;
    -webkit-box-shadow: 0 2px 0 0;
            box-shadow: 0 2px 0 0; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon[class*="iks"] {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon[class*="ham"] {
    height: 0; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon .ham-f3:before, .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon .ham-f3:after, .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon .ham-f4:before, .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon .ham-f4:after {
    width: 12px; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon.point-up {
    -webkit-transform: rotate(90deg) translateY(-1px);
        -ms-transform: rotate(90deg) translateY(-1px);
            transform: rotate(90deg) translateY(-1px); }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon.point-down {
    -webkit-transform: rotate(-90deg) translateY(0px);
        -ms-transform: rotate(-90deg) translateY(0px);
            transform: rotate(-90deg) translateY(0px); }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon:before, .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-m .trig-icon:after {
    height: 2px; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon[class*="iks"], .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon[class*="point"], .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon.minus {
    height: 3px; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon[class*="ham"] {
    height: 2px;
    -webkit-box-shadow: 0 2px 0 0;
            box-shadow: 0 2px 0 0; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon.point-up {
    -webkit-transform: rotate(90deg) translateY(-1px);
        -ms-transform: rotate(90deg) translateY(-1px);
            transform: rotate(90deg) translateY(-1px); }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon.point-down {
    -webkit-transform: rotate(-90deg) translateY(1px);
        -ms-transform: rotate(-90deg) translateY(1px);
            transform: rotate(-90deg) translateY(1px); }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon:before, .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon:after {
    height: 2px; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-s .trig-icon[class*="ham"]:before {
    -webkit-box-shadow: 0 -7px 0 0;
            box-shadow: 0 -7px 0 0; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-l {
    margin: 6px 7px;
    padding: 0 20px; }
  .mboxy-wrap > .mboxy .trigger:not([class*="has-svg"]):not([class*="has-img"]).size-h {
    margin: 14px 15px;
    padding: 0 20px; }
  .mboxy-wrap > .mboxy .trigger.size-m {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55);
    margin: -4px; }
  .mboxy-wrap > .mboxy .trigger.size-s {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75); }
  .mboxy-wrap > .mboxy .trigger.size-l {
    -webkit-transform: scale(1.22);
        -ms-transform: scale(1.22);
            transform: scale(1.22);
    margin: 6px 7px; }
  .mboxy-wrap > .mboxy .trigger.size-h {
    -webkit-transform: scale(1.55);
        -ms-transform: scale(1.55);
            transform: scale(1.55);
    margin: 14px 15px; }
  .mboxy-wrap > .mboxy .trigger.bordered.igniteon:not(.has-img-open), .mboxy-wrap > .mboxy .trigger.bordered:not(.igniteon):not(.has-img-close):not(.close-img-thesame) {
    border: 2px solid; }
  .mboxy-wrap > .mboxy .trigger.inside.inside {
    position: absolute; }
  .mboxy-wrap > .mboxy .trigger.rounded.igniteon:not(.has-img-open), .mboxy-wrap > .mboxy .trigger.rounded:not(.igniteon):not(.has-img-close):not(.close-img-thesame) {
    border-radius: 50%;
    margin: 8px; }
  .mboxy-wrap > .mboxy .trigger.rounded.size-m {
    margin: -4px; }
  .mboxy-wrap > .mboxy .trigger.rounded.size-s {
    margin: 4px; }
  .mboxy-wrap > .mboxy .trigger.rounded.size-l {
    margin: 16px; }
  .mboxy-wrap > .mboxy .trigger.rounded.size-h {
    margin: 26px; }
  .mboxy-wrap > .mboxy .trigger.rounded.squared.igniteon:not(.has-img-open), .mboxy-wrap > .mboxy .trigger.rounded.squared:not(.igniteon):not(.has-img-close):not(.close-img-thesame) {
    border-radius: 5px; }
  .mboxy-wrap > .mboxy .trigger.has-additional-message {
    position: relative; }
    .mboxy-wrap > .mboxy .trigger.has-additional-message .additional-message {
      position: absolute;
      color: #ffffff;
      background: #333333;
      padding: 6px 16px;
      text-align: center;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      max-width: 350px;
      pointer-events: none;
      margin-left: 6px;
      border-radius: 5px; }
      .mboxy-wrap > .mboxy .trigger.has-additional-message .additional-message .additional-message-killer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transform: translate(50%, -50%);
            -ms-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        background: inherit;
        color: inherit;
        pointer-events: initial;
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 10px;
        border: 1px solid currentColor;
        border-radius: 50%; }
  .mboxy-wrap > .mboxy .trigger[class*="has-svg"] {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  .mboxy-wrap > .mboxy .trigger svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: auto; }
  .mboxy-wrap > .mboxy .trigger.igniteon.has-img-open, .mboxy-wrap > .mboxy .trigger.close-img-thesame, .mboxy-wrap > .mboxy .trigger:not(.igniteon).has-img-close {
    background: transparent !important;
    color: unset !important; }
  .mboxy-wrap > .mboxy .trigger.igniteon .trig-svg-close,
  .mboxy-wrap > .mboxy .trigger.igniteon .trig-img-close,
  .mboxy-wrap > .mboxy .trigger:not(.igniteon):not(.close-svg-thesame) .trig-svg-open,
  .mboxy-wrap > .mboxy .trigger:not(.igniteon):not(.close-img-thesame) .trig-img-open {
    display: none; }
  .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close) {
    margin: 0 !important; }
    .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).size-m {
      margin: -4px !important; }
    .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).size-l {
      margin: 6px 7px !important; }
    .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).size-h {
      margin: 14px 15px !important; }
    .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).rounded {
      margin: 8px !important; }
      .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).rounded.size-m {
        margin: -4px !important; }
      .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).rounded.size-s {
        margin: 4px !important; }
      .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).rounded.size-l {
        margin: 16px !important; }
      .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon):not(.has-img-close).rounded.size-h {
        margin: 26px !important; }
  .mboxy-wrap > .mboxy .trigger.closer-no-margin:not(.igniteon).has-img-close {
    margin: 16px !important; }

.mboxy-wrap:not(.on)[class*="place-center"] > .mboxy > .trigger.size-m {
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55); }

.mboxy-wrap:not(.on)[class*="place-center"] > .mboxy > .trigger.size-s {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75); }

.mboxy-wrap:not(.on)[class*="place-center"] > .mboxy > .trigger.size-l {
  -webkit-transform: scale(1.22);
      -ms-transform: scale(1.22);
          transform: scale(1.22); }

.mboxy-wrap:not(.on)[class*="place-center"] > .mboxy > .trigger.size-h {
  -webkit-transform: scale(1.55);
      -ms-transform: scale(1.55);
          transform: scale(1.55); }

.mboxy-wrap:not(.on)[class*="centered"] > .mboxy > .trigger.size-m {
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55); }

.mboxy-wrap:not(.on)[class*="centered"] > .mboxy > .trigger.size-s {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75); }

.mboxy-wrap:not(.on)[class*="centered"] > .mboxy > .trigger.size-l {
  -webkit-transform: scale(1.22);
      -ms-transform: scale(1.22);
          transform: scale(1.22); }

.mboxy-wrap:not(.on)[class*="centered"] > .mboxy > .trigger.size-h {
  -webkit-transform: scale(1.55);
      -ms-transform: scale(1.55);
          transform: scale(1.55); }

.mboxy-wrap:not([class*="bottomed"]) .additional-message {
  top: 100%;
  margin-top: 22px;
  left: inherit;
  right: inherit; }

.mboxy-wrap[class*="bottomed"] .additional-message {
  bottom: 100%;
  margin-bottom: 22px;
  left: inherit;
  right: inherit; }

.mboxy-wrap[class*="place-right"] .mboxy .trigger.has-additional-message .additional-message {
  margin-left: auto;
  margin-right: 6px; }

.mboxy-wrap[class*="place-right"] .mboxy .trigger.has-additional-message .additional-message .additional-message-killer {
  right: auto;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.mboxy-wrap.on .additional-message {
  display: none; }
